<app-open-layer [image]="image" (section)="onSection($event)"></app-open-layer>

<!-- <h1 style="text-align: center;position: absolute; margin: auto;top: 50%">Upload an image</h1> -->


<form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
  <input #imgFileInput hidden type="file" name="file" (change)="onFileChange($event)" />
</form>

<button mat-fab class="bottom-right" (click)="imgFileInput.click()">
  <mat-icon aria-label="Example icon-button with a heart icon">open_in_browser</mat-icon>
</button>
