.canvas {
  background-color: #999;
  height: 100%;
  width: 100%;
}
.toolbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
}
.toolbar button {
  color: black;
}
