<mat-toolbar class="toolbar" style="background-color: rgba(0, 0, 0, 0.5)">
    <button mat-icon-button>
        <mat-icon>border_style</mat-icon>
    </button>
</mat-toolbar>
<div #canvas class="canvas"></div>